<div id="<%= dom_id person %>" class="border-b">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= render_field model: person, field: :name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Age:</strong>
    <%= render_field model: person, field: :age %>
  </p>
</div>
