<%
  field_type = model.class.attribute_types[field.to_s].type
%>
<turbo-frame id="<%= field_frame_id model: model, field: field %>">
  <div data-controller="partials">
    <%= form_with(
        model: model,
        class: "contents",
        data: {
          "partials-target": "form",
          "partials-cancel-url-value": show_partial_path(model, model.id, field)
        }
    ) do |form| %>
      <%= render partial: "partials/edit_#{field_type}_field", locals: { form: form, field: field } %>
    <% end %>
    <% if !model.valid? %>
      <% model.errors.each do | error | %>
        <div class="text-red-700 bg-red-200 p-1 rounded mt-2">
          <p><%= error.full_message %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
