<%
  field_name = model.class.human_attribute_name field
  field_value = model[field]

  frame_id = field_frame_id model: model, field: field
  field_form_url = field_form_path(model: model, field: field )
%>
<turbo-frame id="<%= frame_id %>">
  <%= link_to field_form_url do %>
    <p><%= field_value %></p>
  <% end %>
</turbo-frame>
