<turbo-frame id="<%= field_frame_id model: @model, field: @field %>">
  <div data-controller="partials">
    <%= form_with(
        model: @model,
        class: "contents",
        data: {
          "partials-target": "form"
        }
    ) do |form| %>
      <%= form.number_field @field,
            class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full",
            data: {
              "partials-target": "input",
              action: "keydown.enter->partials#save keydown.esc->partials#cancel"
            }
      %>
    <% end %>
  </div>
</turbo-frame>
